* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-clr);
  background-color: var(--background-document);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --background-document: #f5faeb;
  --primary-clr: #b3e7a6;
  --secondary-clr: #c7f0d3;
  --highlight-clr: #31b95a;
  --box-shadow: rgba(49, 185, 90, 0.5);
}

/* 
=============================================

HEADER

=============================================
*/

.tall-guy-presents,
.app-main-title {
  background-color: transparent;
  display: grid;
  font-size: 35px;
  color: var(--highlight-clr);
}

.tall-guy-presents {
  color: black;
  justify-content: center;
  align-items: end;
  font-size: 15px;
}

.nav {
  display: grid;
  justify-content: center;
  font-style: oblique;
  font-size: 50px;
  background-color: var(--background-document);
  color: rgb(255, 255, 255);
  height: 100px;
  width: 100%;
  padding-top: 5px;
  border-bottom: 2px solid var(--highlight-clr);
}

/* 
=============================================

NAVIGATION CENTER

=============================================
*/

.navigation-bar{
  display: grid;
  width: 100%;
}

.profile {
  display: flex;
  padding: 0rem 1rem 0rem 1rem;
  border-bottom: 2px solid var(--highlight-clr);
}

.profile-image-div {
  display: grid;
  /* width: 100%; */
  padding: 5px;
}

.profile-img {
  display: grid;
  justify-content: right;
  height: 45px;
  border-radius: 50%;
}

.navlinks {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

.show-nav {
  width: 100%;
  transition: 500ms;
}

.navlinks li {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: var(--highlight-clr);
  transition: 300ms;
}

#home {
  color: var(--highlight-clr);
}

/* 
=============================================

PASSWORD TESTER

=============================================
*/

.password-section {
  display: none;
  justify-content: center;
  overflow: auto;
}

.show-section {
  display: grid;
}

.input-subtitle {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1.5rem;
  /* height: 100%; */
  width: 90vw;
  overflow: visible;
  border-radius: 10px;
  color: white;
  padding: 20px;
  text-align: center;
  background-color: var(--highlight-clr);
}

/* ================================== password input container */
.password-input-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 20px 20px 20px;
  width: 100%;
  gap: 10px;
}

.password-input-container {
  display: grid;
  grid-template-rows: 2fr auto 0.5fr auto 1.6fr;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input {
  outline: none;
  width: 80%;
  justify-self: center;
  border: 1.5px solid black;
  height: 50px;
  background-color: var(--background-document);
  padding: 1rem;
  font-size: 1rem;
}

.loading-container {
  text-align: center;
  display: none;
}

.loading-icon {
  width: 24px;
  height: 24px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid var(--highlight-clr);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: 0 auto 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  display: grid;
  justify-self: start;
  align-self: center;
}

.error-message-two,
.success-message {
  display: grid;
  height: 1rem;
}

.characters,
.numbers,
.special,
.capital {
  display: flex;
  gap: 4px;
  align-items: center;
}

.copy-to-clipboard-btn:hover {
  border: 2px solid #04aa47;
  cursor: pointer;
}

.show {
  display: grid;
}

/* =================strength status bar */

.strength-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: var(--secondary-clr);
  width: 100%;
}

.strength-status-title {
  padding-bottom: 10px;
  justify-self: center;
  align-self: end;
  padding-bottom: 0;
  font-size: 18px;
  background-color: var(--secondary-clr);
}
.status-bar {
  background-color: var(--secn-btn-clr);
  height: 10px;
  width: 100%;
  border: 0.5px solid black;
}

.strength-status {
  justify-self: center;
  height: 2rem;
  align-self: flex-start;
}

.submit-btn {
  display: grid;
  width: 6rem;
  height: 2rem;
  justify-self: center;
  font-size: 15px;
  align-content: center;
}

.error-message,
.error-message-two {
  font-size: 0.9rem;
  justify-self: center;
  align-self: center;
  /* line-height: 5px; */
  gap: 5px;
}

.characters,
.numbers,
.special,
.capital {
  display: flex;
  gap: 4px;
  align-items: center;
}

.copy-to-clipboard-btn {
  display: none;
  width: 7rem;
  height: 4rem;
  justify-self: center;
  align-items: center;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
}

.copy-to-clipboard-btn:hover {
  border: 2px solid #04aa47;
  cursor: pointer;
}

/* =================strength status bar */

.strength-status {
  display: grid;
  justify-content: center;
  background-color: var(--secondary-clr);
}

.show {
  display: grid;
}

.green {
  background-color: #04aa47;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.strength-status-full-bar {
  display: flex;
}

.strength-status {
  justify-self: center;
  height: 2rem;
  align-self: flex-start;
}

/* 
=============================================

PASSWORD GENERATOR

=============================================
*/

.password-generator-main-section {
  /* display: grid; */
  display: none;
}

.show-section {
  display: grid;
}

.password-generator-container {
  display: grid;
  /* border-top: 5px solid var(--btn-clr); */
  padding: 20px;
  justify-content: center;
  font-size: 1rem;
  height: fit-content;
  gap: 2rem;
  background-color: var(--secn-btn-clr);
  text-align: center;
}

.questions-center {
  display: grid;
  background-color: var(--secn-btn-clr);
  justify-content: center;
  gap: 1rem;
}

.questions-center p,
.questions-center p strong,
.questions-center p strong {
  background-color: var(--secn-btn-clr);
}

.questions-center p {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  height: 100%;
  width: 90vw;
  overflow: visible;
  border-radius: 10px;
  color: white;
  /* text-decoration: underline; */
  padding: 20px;
  text-align: center;
  background-color: var(--highlight-clr);
}

.highlight {
  color: var(--btn-clr);
}

.tm-icon {
  font-size: 10px;
  align-self: start;
  background-color: var(--secn-btn-clr);
}

.password-generator-center {
  justify-content: center;
  display: grid;
  background-color: var(--secn-btn-clr);
  gap: 1rem;
}
.password-generator-btn {
  width: 6rem;
  height: 3rem;
  justify-self: center;
  background-color: var(--highlight-clr);
  font-size: 18px;
  border-radius: 10px;
  color: var(--background-document);
}
.password-generator-btn:hover {
  background-color: var(--primary-clr);
  transition: 500ms;
  color: black;
}

.generated-password {
  display: grid;
  height: 2.5rem;
  width: 15rem;
  border-bottom: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom: 1px solid black;
  background-color: var(--secn-btn-clr);
  padding: 5.5px;
  justify-content: center;
}

.copy-to-clipboard-btn-2 {
  display: grid;
  width: 7rem;
  height: 3.5rem;
  justify-self: center;
  align-items: center;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.copy-to-clipboard-btn-2:hover {
  border: 2px solid #04aa47;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .questions-center p,
  .questions-center p strong,
  .questions-center p strong {
    font-size: 1.5rem;
  }

  .copy-to-clipboard-btn-2 {
    display: grid;
    width: 6rem;
    height: 45px;
  }
}

/* 
=============================================

HOME SECTION

=============================================
*/

.home-section {
  display: grid;
  padding: 1rem;
  padding-bottom: 3rem;
  gap: 2rem;
}

.hide-section {
  display: none;
}

/* ======================== banner */

.banner-container {
  display: grid;
  height: 100%;
  border-radius: 10px;
}

.banner-container h1 {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: var(--highlight-clr);
  color: white;
  height: 100%;
}

/* ======================= get started */
.get-started-container {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-clr);
  padding: 20px 0px 20px 0px;
  border-radius: 10px;
}

.get-started-container article {
  display: grid;
  height: 100%;
  background-color: transparent;
  gap: 1rem;
}

.get-started-container p {
  display: grid;
  background-color: var(--secondary-clr);
  font-size: 1.2rem;
  height: 100%;
  align-items: center;
  text-align: center;
}

.get-started-btn,
.info-btn {
  width: 80px;
  height: 60px;
  font-size: 1rem;
  justify-self: center;
  border-radius: 10px;
}
.get-started-btn {
  background-color: var(--highlight-clr);
  color: white;
}

.get-started-btn:hover,
.info-btn:hover {
  background-color: var(--primary-clr);
  color: black;
  transition: 500ms;
}

#shield {
  display: none;
}

/* ========================== advice */

.advice-container {
  display: grid;
  gap: 1rem;
}

.advice-container h1 {
  display: grid;
  justify-content: center;
  text-align: center;
}

.advice-center {
  display: grid;
  gap: 10px;
}

.advice-center h1 {
  text-align: center;
}

.advice-container * {
  padding: 1rem;
}
.advice-card {
  display: grid;
  justify-items: center;
  grid-template-columns: 0.5fr 1fr;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.5);
  /* width: 100%; */
  height: 200px;
}

.advice-icon {
  display: grid;
  font-size: 5rem;
  justify-items: center;
  color: var(--highlight-clr);
  background-color: rgba(211, 211, 211, 0.1);
  align-self: center;
}

.advice-container p {
  display: grid;
  border: 0.5px solid;
  border-radius: 5px;
  background-color: var(--secondary-clr);
  line-height: 1.2rem;
  box-shadow: 3px 5px var(--box-shadow);
  align-items: center;
  height: 100%;
}

/* ======================= ABOUT SECTION */

.about-container {
  display: grid;
  padding: 1rem;
  border-radius: 10px;
  justify-items: center;
  gap: 10px;
}
.about-container,
.about-container * {
  background-color: var(--secondary-clr);
}

.about-container h1 {
  font-size: 2rem;
  text-align: center;
}
.about-container h2 {
  display: grid;
  font-size: 1.5rem;
  justify-items: center;
}

.about-container span {
  color: var(--highlight-clr);
  text-transform: uppercase;
}

/* 
=============================================

            MEDIUM SCREEN

=============================================
*/

@media screen and (min-width: 768px) {
  /* banner */
  .banner-container h1{
    font-size: 2rem;
    height: 6rem;
  }
  
  .advice-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-template-rows: repeat(2, minmax(350px, 1fr));
    justify-content: center;
  }

  .advice-card {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 0.5fr 1fr;
    height: 100%;
    /* width: 100%; */
  }
  
.get-started-container{
  display: flex;
}
.get-started-container article p{
  font-size: 2rem;
}

  #shield{
    display: grid;
    background-color: transparent;
    font-size: 7rem;
    color: var(--highlight-clr);

  }
}

/* 
=============================================

            BIG SCREEN

=============================================
*/

@media screen and (min-width: 1170px) {
  /* header */

  .nav {
    height: 15vh;
  }

  .app-main-title {
    font-size: 3rem;
  }

  /* navigation bar */

  .navigation-bar {
    border-bottom: 2px solid var(--highlight-clr);
  }

  .profile {
    font-size: 1.2rem;
    height: 8vh;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    border-bottom: none;
  }

  /* home section */
  .home-section {
    gap: 5rem;
  }

  /* banner */

  .banner-container h1 {
    height: 15vh;
    font-size: 2.5rem;
    align-content: center;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
  }

  .profile-image-div {
    align-items: center;
  }

  /* get started */
  .get-started-container {
    display: flex;
    height: 50vh;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    gap: 4rem;
  }

  .get-started-container article{
    display: grid;
    align-items: center;
  }

  #shield {
    font-size: 20rem;
    padding: 1rem;
  }

  .get-started-btn {
    height: 8rem;
    width: 15rem;
    font-size: 2rem;
  }

  .get-started-container p {
    font-size: 3rem;
  }

  .info-btn {
    height: 6rem;
    width: 15rem;
    font-size: 2rem;
  }

  /* advice  */

  .advice-center {
    display: grid;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .advice-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(2, minmax(400px, 1fr));
    justify-content: center;
    grid-template-areas:
      "a b b"
      "a c d";
  }

  .advice-card {
    padding: 2rem;
    grid-template-columns: none;
  }

  .advice-card-1 {
    grid-area: c;
  }
  .advice-card-2 {
    grid-area: b;
  }
  .advice-card-3 {
    grid-area: a;
  }
  .advice-card-4 {
    grid-area: d;
  }

  .advice-icon {
    font-size: 7rem;
    align-self: center;
  }

  .advice-card p {
    display: grid;
    text-align: center;
    /* width: 100%; */
    align-items: center;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .advice-center h1 {
    font-size: 3rem;
  }

  /* about */

  .about-container h1 {
    height: fit-content;
    line-height: 2.2rem;
  }

  .about-container {
    max-width: 1400px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.5rem;
    height: fit-content;
    padding: 5rem;
  }
}

/* 
=============================================

FOOTER SECTION

=============================================
*/

.footer-center {
  display: grid;
  /* grid-template-columns: auto; */
  /* height: 40vh; */
  justify-items: center;
  padding: 2rem 1rem;
}

.footer-center,
.footer-center * {
  background-color: rgb(202, 201, 201);
}

.footer-center h1 {
  align-self: center;
  /* color: var(--highlight-clr); */
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.footer-links-container {
  display: flex;
  /* justify-items: center; */
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-links-container a {
  text-decoration: none;
  justify-content: space-evenly;
  /* flex: 1 0 200px; */
}

.footer-links-container a:hover {
  color: var(--highlight-clr);
}

.copyright {
  text-align: center;
  padding-top: 1rem;
}
