* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.password-input-container {
  display: grid;
  justify-content: center;
  gap: 5px;
}

.input {
  width: 25rem;
  outline: none;
  border: 1px solid black;
  height: 25px;
}

.submit-btn {
  width: 3rem;
  justify-self: center;
}

.password-status {
  border: 1px solid black;
  height: 25px;
}
