* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-clr);
  background-color: var(--background-clr);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --background-clr: #f9fff0;
  --btn-clr: #04aa47;
  --secn-btn-clr: #dcfeea;
  /* --heading-clr: #55dde0; */
  --hightlight-btn-clr: #06da5a;
  --background-clr-2: burlywood;
}

.tall-guy-presents,
.app-main-title {
  background-color: transparent;
  display: grid;
}

.tall-guy-presents {
  color: black;
  font-size: 18px;
  justify-content: center;
  align-items: end;
}

.nav {
  display: grid;
  justify-content: center;
  height: 25vh;
  font-style: oblique;
  font-size: 50px;
  /* background-image: radial-gradient(#06b24b, #06d158, #04aa47); */
  background-color: var(--hightlight-btn-clr);
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 760px) {
  .app-main-title {
    font-size: 35px;
  }

  .tall-guy-presents {
    font-size: 15px;
  }

  .nav {
    width: 100%;
    height: 12vh;
    padding-top: 5px;
  }
}

/* ======================== navigation center */

/* small screen */
.profile {
  display: flex;
  /* justify-content: right; */
  padding: 0rem 1rem 0rem 1rem;
  border-bottom: 2px solid var(--btn-clr);
}

.profile-image-div {
  display: grid;
  padding: 5px;
  /* border-bottom: 2px solid var(--btn-clr); */
}

.profile-img {
  display: grid;
  justify-content: right;
  height: 45px;
  border-radius: 50%;
}

.navlinks {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  align-items: center;
  /* border-bottom: 2px solid var(--btn-clr); */
}

.show-nav {
  width: 100%;
  transition: 500ms;
}

.navlinks li {
  display: flex;
  list-style: none;
  width: 70px;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: #04aa47;
  transition: 300ms;
}

/* ====================== input center */

.password-section {
  display: none;
  /* display: grid; */
  justify-content: center;
  overflow: auto;
}

.show-section {
  display: grid;
}

.password-input-center {
  display: flex;
  /* height: 70vh; */
  align-self: start;
  /* height: 330px; */
  gap: 30px;
  height: 100vh;
  padding-bottom: 30px;
}

.input-subtitle {
  display: grid;
  justify-content: center;
  align-content: center;
  /* height: 10vh; */
  /* text-decoration: underline; */

  color: var(--btn-heading-clr);
}

/* ================================== password input container */

.password-input-container {
  grid-template-rows: 1fr 1fr 0.5fr 1.5fr 1fr;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40vh;
}

.input {
  /* width: 25rem; */
  outline: none;
  border: 1.5px solid black;
  height: 50px;
  padding: 5px;
  font-size: 1.2rem;
  background-color: var(--secn-btn-clr);
}

.submit-btn {
  width: 6rem;
  height: 2rem;
  justify-self: center;
  background-color: var(--btn-clr);
  color: white;
  font-size: 18px;
}

.submit-btn:hover {
  background-color: var(--hightlight-btn-clr);
}

.error-message {
  display: grid;
  justify-self: start;
  align-self: center;
  /* height: 1rem; */
}

.error-message-two,
.success-message {
  display: grid;
  height: 1rem;
}

.characters,
.numbers,
.special,
.capital {
  display: flex;
  gap: 4px;
  align-items: center;
}

.copy-to-clipboard-btn {
  display: none;
  width: 6rem;
  height: 3rem;
  justify-self: center;
  align-items: center;
  font-size: 15px;
}

.copy-to-clipboard-btn:hover {
  border: 2px solid #04aa47;
  cursor: pointer;
}

.show {
  display: grid;
}

/* =================strength status bar */

.strength-container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  /* width: 300px; */
  justify-content: center;
  align-items: center;
  align-self: center;
  /* height: 70%; */
}

.strength-status-title {
  padding-bottom: 10px;
  justify-self: center;
  align-self: end;
  padding-bottom: 0;
}

.status-bar {
  background-color: var(--secn-btn-clr);
  width: 80px;
  height: 10px;
  border: 0.5px solid black;
}
.green {
  background-color: #04aa47;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.strength-status-full-bar {
  display: flex;
}

.strength-status {
  justify-self: center;
  height: 2rem;
  align-self: flex-start;
}

@media screen and (max-width: 760px) {
  .password-input-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px 20px 20px;
    /* height: 50vh; */
    height: fit-content;
    width: 100%;
  }
  .password-input-container {
    display: grid;
    grid-template-rows: repeat(1fr 1fr 0.5fr 1.5fr 1fr);
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
  }

  .input-subtitle {
    height: 5vh;
    font-size: 18px;
  }

  .input {
    /* width: 100%; */
    outline: none;
    border: 1.5px solid black;
    height: 50px;
    padding: 1rem;
    background-color: var(--secn-btn-clr);
    font-size: 1rem;
  }

  .submit-btn {
    display: grid;
    width: 6rem;
    height: 2rem;
    justify-self: center;
    background-color: var(--btn-clr);
    color: white;
    font-size: 15px;
    align-content: center;
  }

  .error-message,
  .error-message-two {
    font-size: 0.9rem;
    justify-self: center;
    align-self: center;
    /* line-height: 5px; */
    gap: 5px;
  }

  .characters,
  .numbers,
  .special,
  .capital {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .copy-to-clipboard-btn {
    display: none;
    width: 6rem;
    height: 3rem;
    justify-self: center;
    align-items: center;
    font-size: 15px;
  }

  .copy-to-clipboard-btn:hover {
    border: 2px solid #04aa47;
    cursor: pointer;
  }

  /* =================strength status bar */

  .strength-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .strength-status-title {
    padding-bottom: 10px;
    justify-self: center;
    align-self: end;
    padding-bottom: 0;
    font-size: 18px;
  }

  .status-bar {
    background-color: var(--secn-btn-clr);
    height: 10px;
    width: 100%;
    border: 0.5px solid black;
  }
  .strength-status-full-bar {
    display: flex;
  }

  .strength-status {
    display: grid;
    justify-content: center;
  }

  .show {
    display: grid;
  }

  .green {
    background-color: #04aa47;
  }

  .orange {
    background-color: orange;
  }

  .red {
    background-color: red;
  }

  .strength-status-full-bar {
    display: flex;
  }

  .strength-status {
    justify-self: center;
    height: 2rem;
    align-self: flex-start;
  }
}

/* ======================= PASSWORD GENERATOR */

.password-generator-main-section {
  /* display: grid; */
  display: none;
}

.show-section {
  display: grid;
}

.password-generator-container {
  display: grid;
  /* border-top: 5px solid var(--btn-clr); */
  padding: 20px;
  justify-content: center;
  font-size: 1rem;
  height: fit-content;
  gap: 2rem;
  background-color: var(--secn-btn-clr);
  text-align: center;
}

.questions-center {
  display: grid;
  background-color: var(--secn-btn-clr);
  justify-content: center;
  gap: 1rem;
}

.questions-center p,
.questions-center p strong,
.questions-center p strong {
  background-color: var(--secn-btn-clr);
}

.highlight {
  color: var(--btn-clr);
}

.tm-icon {
  font-size: 10px;
  align-self: start;
  background-color: var(--secn-btn-clr);
}

.password-generator-center {
  justify-content: center;
  display: grid;
  background-color: var(--secn-btn-clr);
  gap: 1rem;
}
.password-generator-btn {
  width: 6rem;
  height: 2rem;
  justify-self: center;
  background-color: var(--btn-clr);
  color: white;
  font-size: 18px;
}
.password-generator-btn:hover {
  background-color: var(--hightlight-btn-clr);
}

.generated-password {
  display: grid;
  height: 2.5rem;
  width: 15rem;
  border-bottom: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom: 1px solid black;
  background-color: var(--secn-btn-clr);
  padding: 5.5px;
  justify-content: center;
}

.copy-to-clipboard-btn-2 {
  display: grid;
  width: 7rem;
  height: 3.5rem;
  justify-self: center;
  align-items: center;
  font-size: 15px;
  border: 1px solid black;
}

.copy-to-clipboard-btn-2:hover {
  border: 2px solid #04aa47;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .questions-center p,
  .questions-center p strong,
  .questions-center p strong {
    font-size: 18px;
  }

  .copy-to-clipboard-btn-2 {
    display: grid;
    width: 6rem;
    height: 45px;
  }
}

/* ======================= HOME SECTION */

.home-section {
  display: grid;
  padding: 20px;
  gap: 2rem;
  /* background-color: burlywood; */
}

.hide-section {
  display: none;
}

.banner-container {
  display: grid;
  height: 20vh;
  /* width: 100%; */
  height: 100%;
}

.banner-container h1 {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #06da5a;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid;
}

.get-started-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  /* background-color: burlywood; */
}

.get-started-container h1 {
  font-size: 1rem;
}

.get-started-container p {
  /* background-color: burlywood; */
  font-size: 1.2rem;
}

.get-started-btn {
  width: 100px;
  height: 60px;
  font-size: 1rem;
}

.get-started-btn:hover {
  background-color: var(--hightlight-btn-clr);
  /* color: white; */
  transition: 800ms;
}

.advice-container {
  display: grid;
  border: #04aa47;
}

.advice-container h1 {
  display: grid;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid;
}

.advice-container * {
  background-color: var(--background-clr-2);
  padding: 1rem;
}
.advice-card {
  display: grid;
  justify-items: center;
}

.advice-icon {
  display: grid;
  font-size: 5rem;
  padding: 1rem;
  color: var(--btn-clr);
}
