* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-clr);
  background-color: var(--background-document);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --background-document: #f5faeb;
  --primary-clr: #b3e7a6;
  --secondary-clr: #c7f0d3;
  --highlight-clr: #31b95a;
  --box-shadow: rgba(49, 185, 90, 0.5);
}

.tall-guy-presents,
.app-main-title {
  background-color: transparent;
  display: grid;
}

.tall-guy-presents {
  color: black;
  font-size: 18px;
  justify-content: center;
  align-items: end;
}

.nav {
  display: grid;
  justify-content: center;
  font-style: oblique;
  font-size: 50px;
  /* background-image: radial-gradient(#06b24b, #06d158, #04aa47); */
  background-color: var(--background-document);
  color: rgb(255, 255, 255);
  /* background-color: red; */
  height: 100px;
}

.app-main-title {
  font-size: 35px;
  color: var(--highlight-clr);
}

.tall-guy-presents {
  font-size: 15px;
}

.nav {
  width: 100%;
  /* height: 100%; */
  padding-top: 5px;
}

/* ======================== navigation center */

/* small screen */
.profile {
  display: flex;
  /* justify-content: right; */
  padding: 0rem 1rem 0rem 1rem;
  border-bottom: 2px solid var(--highlight-clr);
}

.profile-image-div {
  display: grid;
  padding: 5px;
  /* border-bottom: 2px solid var(--btn-clr); */
}

.profile-img {
  display: grid;
  justify-content: right;
  height: 45px;
  border-radius: 50%;
}

.navlinks {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  align-items: center;
  /* border-bottom: 2px solid var(--btn-clr); */
}

.show-nav {
  width: 100%;
  transition: 500ms;
}

.navlinks li {
  display: flex;
  list-style: none;
  width: 70px;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: var(--highlight-clr);
  transition: 300ms;
}

/* ====================== input center */

.password-section {
  display: none;
  /* display: grid; */
  justify-content: center;
  overflow: auto;
}

.show-section {
  display: grid;
}

.input-subtitle {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1.5rem;
  height: 100%;
  width: 90vw;
  overflow: visible;
  border-radius: 10px;
  color: white;
  /* text-decoration: underline; */
  padding: 20px;
  text-align: center;
  background-color: var(--highlight-clr);
}

/* ================================== password input container */
.password-input-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 20px 20px 20px;
  /* height: 50vh; */
  /* height: fit-content; */
  width: 100%;
  /* height: 100vh; */
}

.password-input-container {
  display: grid;
  grid-template-rows: 2fr auto 0.5fr auto 1.2fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input {
  /* width: 25rem; */
  outline: none;
  width: 80%;
  justify-self: center;
  border: 1.5px solid black;
  height: 50px;
  padding: 5px;
  font-size: 1.2rem;
  background-color: var(--background-document);
}

.submit-btn {
  width: 6rem;
  height: 2rem;
  justify-self: center;
  background-color: var(--primary-clr);
  color: black;
  font-size: 18px;
}

.submit-btn:hover {
  background-color: var(--highlight-clr);
}

.loading-container {
  text-align: center;
  display: none;
}

.loading-icon {
  width: 24px;
  height: 24px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid var(--highlight-clr);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: 0 auto 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  display: grid;
  justify-self: start;
  align-self: center;
  /* height: 1rem; */
}

.error-message-two,
.success-message {
  display: grid;
  height: 1rem;
}

.characters,
.numbers,
.special,
.capital {
  display: flex;
  gap: 4px;
  align-items: center;
}

.copy-to-clipboard-btn {
  display: none;
  width: 6rem;
  height: 3rem;
  justify-self: center;
  align-items: center;
  font-size: 15px;
}

.copy-to-clipboard-btn:hover {
  border: 2px solid #04aa47;
  cursor: pointer;
}

.show {
  display: grid;
}

/* =================strength status bar */

.strength-container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  /* width: 300px; */
  justify-content: center;
  align-items: center;
  align-self: center;
  /* height: 70%; */
}

.strength-status-title {
  padding-bottom: 10px;
  justify-self: center;
  align-self: end;
  padding-bottom: 0;
}

.status-bar {
  background-color: var(--secn-btn-clr);
  width: 80px;
  height: 10px;
  border: 0.5px solid black;
}
.green {
  background-color: #04aa47;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.strength-status-full-bar {
  display: flex;
}

.strength-status {
  justify-self: center;
  height: 2rem;
  align-self: flex-start;
}

.input {
  /* width: 100%; */
  outline: none;
  border: 1.5px solid black;
  height: 50px;
  padding: 1rem;
  background-color: var(--secn-btn-clr);
  font-size: 1rem;
}

.submit-btn {
  display: grid;
  width: 6rem;
  height: 2rem;
  justify-self: center;
  font-size: 15px;
  align-content: center;
}

.error-message,
.error-message-two {
  font-size: 0.9rem;
  justify-self: center;
  align-self: center;
  /* line-height: 5px; */
  gap: 5px;
}

.characters,
.numbers,
.special,
.capital {
  display: flex;
  gap: 4px;
  align-items: center;
}

.copy-to-clipboard-btn {
  display: none;
  width: 6rem;
  height: 3rem;
  justify-self: center;
  align-items: center;
  font-size: 15px;
}

.copy-to-clipboard-btn:hover {
  border: 2px solid #04aa47;
  cursor: pointer;
}

/* =================strength status bar */

.strength-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.strength-status-title {
  padding-bottom: 10px;
  justify-self: center;
  align-self: end;
  padding-bottom: 0;
  font-size: 18px;
}

.status-bar {
  background-color: var(--secn-btn-clr);
  height: 10px;
  width: 100%;
  border: 0.5px solid black;
}
.strength-status-full-bar {
  display: flex;
}

.strength-status {
  display: grid;
  justify-content: center;
}

.show {
  display: grid;
}

.green {
  background-color: #04aa47;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.strength-status-full-bar {
  display: flex;
}

.strength-status {
  justify-self: center;
  height: 2rem;
  align-self: flex-start;
}

/* ======================= PASSWORD GENERATOR */

.password-generator-main-section {
  /* display: grid; */
  display: none;
}

.show-section {
  display: grid;
}

.password-generator-container {
  display: grid;
  /* border-top: 5px solid var(--btn-clr); */
  padding: 20px;
  justify-content: center;
  font-size: 1rem;
  height: fit-content;
  gap: 2rem;
  background-color: var(--secn-btn-clr);
  text-align: center;
}

.questions-center {
  display: grid;
  background-color: var(--secn-btn-clr);
  justify-content: center;
  gap: 1rem;
}

.questions-center p,
.questions-center p strong,
.questions-center p strong {
  background-color: var(--secn-btn-clr);
}

.highlight {
  color: var(--btn-clr);
}

.tm-icon {
  font-size: 10px;
  align-self: start;
  background-color: var(--secn-btn-clr);
}

.password-generator-center {
  justify-content: center;
  display: grid;
  background-color: var(--secn-btn-clr);
  gap: 1rem;
}
.password-generator-btn {
  width: 6rem;
  height: 2rem;
  justify-self: center;
  background-color: var(--btn-clr);
  color: white;
  font-size: 18px;
}
.password-generator-btn:hover {
  background-color: var(--hightlight-btn-clr);
}

.generated-password {
  display: grid;
  height: 2.5rem;
  width: 15rem;
  border-bottom: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom: 1px solid black;
  background-color: var(--secn-btn-clr);
  padding: 5.5px;
  justify-content: center;
}

.copy-to-clipboard-btn-2 {
  display: grid;
  width: 7rem;
  height: 3.5rem;
  justify-self: center;
  align-items: center;
  font-size: 15px;
  border: 1px solid black;
}

.copy-to-clipboard-btn-2:hover {
  border: 2px solid #04aa47;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .questions-center p,
  .questions-center p strong,
  .questions-center p strong {
    font-size: 18px;
  }

  .copy-to-clipboard-btn-2 {
    display: grid;
    width: 6rem;
    height: 45px;
  }
}

/* ======================= HOME SECTION */

.home-section {
  display: grid;
  padding: 1rem;
  padding-bottom: 3rem;
  gap: 2rem;
  /* background-color: burlywood; */
}

.hide-section {
  display: none;
}

.banner-container {
  display: grid;
  /* height: 20vh; */
  height: 100%;
  /* border: solid; */
  border-radius: 10px;
}

.banner-container h1 {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  /* border: 1px solid; */
  background-color: var(--highlight-clr);
  color: white;
  height: 100%;
}

.get-started-container {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-clr);
  padding: 20px 0px 20px 0px;
  border-radius: 10px;
}

.get-started-container p {
  display: grid;
  background-color: var(--secondary-clr);
  font-size: 1.2rem;
  height: 100%;
  align-items: center;
  text-align: center;
}

.get-started-btn,
.info-btn {
  width: 80px;
  height: 60px;
  font-size: 1rem;
  justify-self: center;
  border-radius: 10px;
}

.get-started-btn:hover,
.info-btn:hover {
  background-color: var(--highlight-clr);
  color: white;
  transition: 500ms;
}

.advice-container {
  display: grid;
  /* border: #04aa47; */
  gap: 1rem;
}

.advice-container h1 {
  display: grid;
  justify-content: center;
  text-align: center;
  /* border-bottom: 2px solid; */
}

.advice-container * {
  padding: 1rem;
  /* background-color: rgba(211, 211, 211, 0.6); */
}
.advice-card {
  display: grid;
  justify-items: center;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.5);
  width: 100%;
}

.advice-icon {
  display: grid;
  font-size: 5rem;
  justify-items: center;
  color: var(--highlight-clr);
  background-color: rgba(211, 211, 211, 0.1);
}

.advice-container p {
  /* background-color: transparent; */
  border: 0.5px solid;
  border-radius: 5px;
  /* background-color: var(--background-document); */
  background-color: var(--secondary-clr);
  line-height: 1.2rem;
  box-shadow: 3px 5px var(--box-shadow);
}

/* ======================= FOOTER SECTION */

.footer-center {
  display: grid;
  /* grid-template-columns: auto; */
  /* height: 40vh; */
  justify-items: center;
  padding: 2rem 1rem;
}

.footer-center,
.footer-center * {
  background-color: rgb(202, 201, 201);
}

.footer-center h1 {
  align-self: center;
  color: var(--highlight-clr);
  font-size: 2rem;
  padding-bottom: 1rem;
}

.footer-links-container {
  display: flex;
  /* justify-items: center; */
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-links-container a {
  text-decoration: none;
  justify-content: space-evenly;
  /* flex: 1 0 200px; */
}

.footer-links-container a:hover {
  color: var(--highlight-clr);
}

.copyright {
  text-align: center;
  padding-top: 1rem;
}
